{% extends "base.html" %} {% block content %}

<!-- Todo bar -->
<form action="/task" method="post">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="content" placeholder="What do you want to do today?">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Add Task</button>
    </div>
  </div>
</form>


<!-- Main table -->
<table class="table-hover">
  {% for task in tasks %}
  <tr>

    <td>
        <input type="checkbox" id="{{ task.id }}" name="content" {% if task.done %} checked {% endif %}>
    </td>

    <td class="content" {% if task.done %} style="color:#8c8a8a" {% endif %}>
      {% if task.done %} <strike> {% endif %} {{ task.content }} {% if task.done %} </strike> {% endif %}
    </td>

    <td align="right" >
      <span><a data-toggle="modal" class="edit" href="#edit_modal_{{ task.id }}">Edit</a></span>
    </td>

    <td align="right">
      <span><a href="/delete/{{ task.id }}"><button type="button" class="btn btn-primary">X</button></a></span>
    </td>

    <!-- Edit Modal -->
    <form action="/edit" method="post">

      <div class="modal fade" id="edit_modal_{{task.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title">Edit Task</h5>
              <input name="task_id" type="hidden" value="{{task.id}}">
            </div>

            <div class="modal-body">
              <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" aria-label="Small" name="edit_text" aria-describedby="inputGroup-sizing-sm" value="{{ task.content }}">
              </div>
            </div>

            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Ok">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>

          </div>
        </div>
      </div>

    </form>

  </tr>
  {% endfor %}
</table>

<hr>

<!-- Footer -->
<table>
  <tbody>
    <tr>
      <td>
        <p>{{ (tasks|length) - (tasks|sum(attribute='done')) }} items left</p>
      </td>
      <td class="complete"><a href="/finished">Mark all as completed</a></td>
    </tr>
  </tbody>
</table>


<script type="text/javascript">

$(function() {
  $(":checkbox").click(function(){
    $.post("/toggle", {"task_id": this.id})
    // Total hack
    setTimeout(location.reload.bind(location), 300);
  });
});

</script>


{% endblock %}
